
*{
    text-align: center;
    background: #111111;
    color: white;
}

#clock, #days, #total, #thks {
    color: white;
  }

.clocks{
    height: 15rem;
    background-color: #111111;
}

.col-lg-6, .col-lg-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    background: #111111;
    color: white; 
}